.navbar {
	display: flex;
	align-items: center;
	background: rgba(0,0,0,0.05);
}
.navbar-collapse {
	justify-content: right;
}
.navbar-collapse .my-2 {
	display: flex;
	margin: 0 10px;
}
.navbar ul li {
	margin: 0 10px;
}
.navbar-brand {
	display: flex;
	align-items: center;
	margin: 10px;
}
.my-2 input,.my-2 button, .navbar-toggler, {
	margin: 0 5px;
}
nav .pagination {
/*	margin: 20px;*/
	display: flex;
	align-items: center;
	justify-content: center;
}
