:root {
	--clr-primary: #651fff;
	--clr-gray: #37474f;
	--clr-gray-light: #b0bec5;
}
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 50px;
}
body {
	width: 100%;
	
}

.center {
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}
@media screen and (min-width:1400px){
	.w-xxl-20{
		width: 20%;
	}
}
.card {
	padding: 0;
	border: none;
	box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
	background-color: white;
	text-align: center;
	border-radius: 1rem;
	text-decoration: none;
	margin-bottom: 1rem;
	width: 100%;
	color: black;
	transition-duration: .4s;
	transition-property:transform;
	position: relative;
}

.card {
	transition-duration: .4s;
	transition-property:transform;
}
.card .info-items-container {
	position: absolute;
	display: flex;
	flex-direction: column;
	right: 0;
	top: 1rem;
}
.card .info-item{
	
	color: white;
	margin: 2px 0;
	min-width: 3.75rem;
	background: rgba(0,0,0,0.5);
	border-radius: 1rem 0 0 1rem;
	padding: 1px 5px;
}
.card .rating::after{
	content: ' ★';
}
.card .high {
	background: #01c03a;
}
.card .middle {
	background: #ff6702;
}
.card .low {
	background: #e13535;
}
.card .announce::after{
	content: 'Анонс';
}
.card .name {

	padding: 0 10px;
	padding-top: 1rem;

}
.card:hover{
	transform: scale(1.03);
	text-decoration: none;
	color: black;
}
.card img {
	border-radius: 1rem 1rem 0 0;
	object-fit:cover;
	width: 100%;
	aspect-ratio: 57/75;
}
.pagination .page-item{
	box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
}